/* for prototype testing */
body {
    background-color: #ccc;
}

.container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px;
    gap: 3em;
}
.container .mycalbox {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    background: #fff;
    place-items: center;
}
.container .mycalbox .kpic-legend {
    background-color:#fff;
    padding:10px 10px;
}

div[class^='kpic-calendar'] {
    margin-top: 20px;
}

.h3 {
    font-size: 1.5em;
}

.detail,
.h3 {
    padding: 8px;
    background-color: #333;
    color: #fff;
}

.tbcontainer {
    background-color: #143F6A;
    color: #fff;
    width: 100%;
    .toolbar {
        padding:20px 20px;
        display: flex;
        gap: 1em;
    }
}

.toolbar .current-month {
    font-size: 1.2em;
    color: #fff;
    min-width: 90px;
    text-align: center;
}